@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP";
}

body
{
    background-color: black;
}

/* navbar */
.navbar
{
    background-color: #202020;
}
.navbar-brand{
    color: goldenrod;
}

/* section */
section
{
    height: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

/* section1 */
.my-img
{
    height: 80vh;
    width: auto;
}

.my-p
{
    display: flex;
    align-content: center;
    text-align: center;
    margin-left: 10vw;
    
}

.btns
{
    display: inline-flex;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    align-items: center;
    margin-top: 10vh;
}

.social-btn
{
    padding: 10px 10px;
    margin: 10px 10px;
    color: whitesmoke;
}

.social-btn:hover
{
    opacity: .7;
    transition-duration: .5s;
}


#yt
{
    width: 170px;
    background-color: #c4302b;
    border: 1px solid #c4302b;
}
a
{
    color: white;
    text-decoration: none;
}

a:hover
{
    color: white;
    text-decoration: none;
}

#ig
{
    width: 170px;
    background-color: #c32aa3;
    border: 1px solid #c32aa3;
}
/* @media only screen and (min-width: 1000px) {
   .my-p{
       margin-left: 100px;
   }
  } */

  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .container
  {
      background-color: #202020;
  }

  .container:hover{
      opacity: .7;
  }

  .html {width: 90%; background-color: #f44336; margin-left: -15px; animation-name: anim; animation-duration: 6s; animation-timing-function: ease; animation-delay: 2s; animation-iteration-count: infinite;}
  .css {width: 80%; background-color: #2196F3; margin-left: -15px;}
  .php {width: 60%; background-color: #e5e747; margin-left: -15px;}
  .cpp {width: 65%; background-color: #fa662b; margin-left: -15px;}

  @keyframes anim {
    from {width: 32%;}
    to {width: 90%;}
  }
  /* footer */
  footer
  {
      display: flex;
      align-items: center;
      align-content: center;
      margin-top: 100px;
      height: 100px;
      background-color: #0f0e0e;
      width: 100%;
      color: rgb(228, 227, 227);
      justify-content: center;
      border: 6px solid black;
      border-top: 1px solid #0f0e0e;

  }

  .project-tab
  {
      background-color: #0f0e0e;
      border: 1px solid #0f0e0e;
      margin-top: 5px;
      width: 98%;
      margin-right: 1%;
  }

  .proj-outer
  {
      height: 70vh;
      width: 98%;
      background-color: #0f0e0e;
      margin-top: 5px;
  }
  .card-title
  {
      background-color: #050505;
      padding: 15px 15px 15px 15px;
      margin-left: -30px;
  }

  /* dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: #632aff;
    padding: 5px 15px 5px 15px ;
    color: white;
    border: 1px solid #632aff ;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0f0e0e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .nav-items
  {
      border-bottom: 3px solid black;
  }
  /* dropdown */
